
<h1 {
  font-size: 1.5em
  font-weight: bold;
  color: green;
}
h1, h2, h3 {font-weight: bold; color : green;}
#copyright {color: gray; font-style: italic; text-align: :center}

.jumbotron {
  background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);
  background-size: cover;
  color: black;
  object-fit:
}
